.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 10px 10px 10px 0;
    text-align: justify;
    min-height: calc(100vh - 312px);
    font-family: 'Open Sans', sans-serif;
}

.title1 {
    list-style-type: upper-roman;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
}

.title2 {
    list-style-type: decimal;
    padding-left: 10px;
}

ul.title3 {
    counter-reset: list-counter;
}

ul.title3>li {
    counter-increment: list-counter;
}

ul.title3>li::marker {
    content: counter(list-counter, lower-alpha) ')  ';
}

ul.title3>li>ul {
    padding-left: 0;
    content: "-   ";
}

ul.title3>li>ul>li::marker {
    content: "-   ";
}

ul.title3>li>ul {
    padding-left: 0px;
}

ul.title3>li>ul>li>ul>li::marker {
    content: "+   ";
}

ul.title3>li>ul>li>ul {
    padding-left: 0;
}

ul.title3>li>ul>li>ul>ul {
    padding-left: 0;
}

ul.title3>li>ul>li>div>ul>ul>li::marker {
    content: "+  ";
}

.title4 {
    list-style-type: circle;
    padding-left: 0;
}

.title5 {
    padding-left: 0;
}

.content {
    margin: 0;
    padding: 0;
}

body {
    font-size: small;
}

.title {
    font-weight: bold;
    padding: 2px
}


@media only screen and (min-width: 575px) {
    body {
        font-size: large;
    }

    .main-content {
        max-width: 1200px;
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        margin: auto;
        min-height: calc(100vh - 235px);
        padding-top: 10px;
    }

    h1 {
        color: #136292;
        font-size: 45px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        margin-top: 0;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    .title1 {
        list-style-type: upper-roman;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title2 {
        list-style-type: decimal;
        padding-left: 20px;
    }

    .title3 {
        list-style: lower-alpha;
    }

    .title4 {
        padding-left: 20px;
    }

    .title5 {
        padding-left: 20px;
    }
    .title3::before {
        font-weight: bold;
    }
}

.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    min-height: calc(100vh - 312px);
}

h1 {
    color: #136292;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 10px 0 0 0;

}

.content {
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 575px) {
    .main-content {
        max-width: 1200px;
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        margin: auto;
        min-height: calc(100vh - 235px);
        padding-top: 10px;
    }

    h1 {
        color: #136292;
        font-size: 45px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        margin-top: 0;
    }

    .content {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 769px) {}

@media only screen and (min-width: 1025px) {
    body {
        font-size: 18x;
    }
}