.main-content {
    box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
    background-color: #fff;
    margin: auto;
    padding: 0 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.info-item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.info-title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    font-size: x-large;
}

.info-content {
    padding-left: 50px;
    font-size: large;
}

.info-contact {
    color: #005095;
}

.home-body.body-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.right {
    display: none;
}

p {
    padding: 2px;
}

@media only screen and (min-width: 769px) {
    .main-content {
        box-shadow: 0 13px 29px rgb(0 0 0 / 35%);
        background-color: #fff;
        max-width: 1024px;
        padding: 30px 10px 30px 10px;
        display: grid;
        grid-template-columns: 50% 50%;
        font-family: 'Open Sans', sans-serif;
    }

    .left {
        text-align: align;
    }

    .right {
        display: inline-block;
    }

    img {
        width: 100%;
    }

    .info-content {
        padding-left: 30px;
    }

    p {
        padding: 2px;
    }
}